<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="main w-full h-screen bg-[#040e07] flex items-center justify-center">
        <div class="logoBox flex px-5 py-5 items-center justify-end flex-col">
            <div class="text flex items-center justify-end">
                <i class="ri-spotify-fill text-[#1ED760] text-8xl"></i>
                <h1 class="text-5xl">Spotify</h1>
            </div>
            <div class="loader py-2 flex items-center justify-end">
                <span class="loading text-[#1ed75f7b] loading-dots loading-lg"></span>
            </div>
        </div>
    </div>
</body>

</html>